In [1]:
# Versão da Linguagem Python

from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

Versão de Python Neste Jupyter Notebook: 3.10.5

In [2]:
import warnings
warnings.filterwarnings('ignore')

#### Importing Libraries

In [3]:
# Matplotlib for additional customization
from matplotlib import pyplot as plt

In [4]:
# Seaborn for plotting and styling
import seaborn as sns

In [5]:
# Pandas for managing datasets
import pandas as pd

#### Importing Datasets

In [6]:
# load_dataset()

In [7]:
# Seaborn for plotting and styling

df = sns.load_dataset('tips')

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [9]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

matplotlib: 3.5.2
seaborn   : 0.11.2
pandas    : 1.4.3

#### End.